<section class="signup-header">
    <div class="container">
        <h2 class="signup-title">
            <span>You can find new (Manufacturerers), (New Innovative Products)</span>
            <!-- <b>(Manufacturerers), (New Innovative Products) </b> -->
            <!-- <a href="javascript:void(0);">BUY ONLINE</a> -->
        </h2>
    </div>
</section>

<section class="banner-signup" style="background-image: url(assets/images/signup-page.jpg">
    <div class="container">
        <h2 class="title-head">WHY CHOOSE
            <a href="javascript:void(0);">b4bfactory</a> as Distributor?</h2>
        <div class="row">
            <div class="col-md-6 d-flex">
                <a href="javascript:void(0);" class="whychoose-block">
                    <div class="whychoose-img">
                        <figure>
                            <img src="assets/images/manufactures.png" alt="Manufacturerers">
                        </figure>
                    </div>
                    <div class="whychoose-title">
                        <h3>Manufacturerers</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-6  d-flex">
                <a href="javascript:void(0);" class="whychoose-block">
                    <div class="whychoose-img">
                        <figure>
                            <img src="assets/images/shout.png" alt="Products">
                        </figure>
                    </div>
                    <div class="whychoose-title">
                        <h3>Products</h3>
                    </div>
                </a>
            </div>
            <!-- <div class="col-md-3  d-flex">
                <a href="javascript:void(0);" class="whychoose-block">
                    <div class="whychoose-img">
                        <figure>
                            <img src="assets/images/branding.png" alt="">
                        </figure>
                    </div>
                    <div class="whychoose-title">
                        <h3>Brand building</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-3  d-flex">
                <a href="javascript:void(0);" class="whychoose-block">
                    <div class="whychoose-img">
                        <figure>
                            <img src="assets/images/global-connection.png" alt="">
                        </figure>
                    </div>
                    <div class="whychoose-title">
                        <h3>Sales Network attract new Distributors</h3>
                    </div>
                </a>
            </div> -->
        </div>
    </div>
</section>

<section class="signup-page">
    <div class="container">
        <h1 class="main-heading">Distributor</h1>

        <div class="login-signup-form">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Company Name : **</label>
                        <input class="form-control" type="text" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Address : **</label>
                        <input class="form-control" type="text" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>City :**</label>
                        <select class="select-field form-control">
                            <option>Select City</option>
                            <option value="ACT">Australian Capital Territory</option>
                            <option value="NSW">New South Wales</option>
                            <option value="NT ">Northern Territory</option>
                            <option value="QLD">Queensland</option>
                            <option value="SA ">South Australia</option>
                            <option value="TAS">Tasmania</option>
                            <option value="VIC">Victoria</option>
                            <option value="WA ">Western Australia</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Country :**</label>
                        <select class="select-field form-control">
                            <option>Select Country</option>
                            <option value="AF" data-capital="Kabul">Afghanistan</option>
                            <option value="AX" data-capital="Mariehamn">Aland Islands</option>
                            <option value="AL" data-capital="Tirana">Albania</option>
                            <option value="DZ" data-capital="Algiers">Algeria</option>
                            <option value="AS" data-capital="Pago Pago">American Samoa</option>
                            <option value="AD" data-capital="Andorra la Vella">Andorra</option>
                            <option value="AO" data-capital="Luanda">Angola</option>
                            <option value="AI" data-capital="The Valley">Anguilla</option>
                            <option value="AG" data-capital="St. John's">Antigua and Barbuda</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Website **</label>
                        <input class="form-control" type="text" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Tel Fixed : **</label>
                        <input class="form-control" type="text" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Tel Mobile : **</label>
                        <input class="form-control" type="text" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Contact First Name : **</label>
                        <input class="form-control" type="text" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Contact Last Name : **</label>
                        <input class="form-control" type="text" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Email **</label>
                        <input class="form-control" type="text" />
                    </div>
                </div>

                <div class="col-md-12 mt-10 ">
                    <label>What is your company’s area of expertise (market segment, service) ?
                        <small>You can select Multiple choose **</small>
                    </label>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <select class="select-field form-control">
                            <option>Cardiology</option>
                            <option>option 1</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <select class="select-field form-control">
                            <option> Select sub category</option>
                            <option>option 1</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>What are you looking by being online ? **</label>
                        <select class="select-field form-control">
                            <option>Sales, Distributors, branding </option>
                            <option>option 1</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>List one of major competitors **</label>
                        <input class="form-control" type="text" />
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Do you want to market your products online globally ? **</label>
                        <div class="custom-radiobtn radio-inline">
                            <div class="radio-btn">
                                <input type="radio" id="test1" name="radio-group1" checked="">
                                <label for="test1">No</label>
                            </div>
                            <div class="radio-btn">
                                <input type="radio" id="test2" name="radio-group1">
                                <label for="test2">Yes</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <label>Where do you want to market your products online ?</label>
                </div>
                <div class="col-md-6">
                    <div class="form-group">

                        <select class="select-field form-control">
                            <option>Select Continent </option>
                            <option>option 1</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <select class="select-field form-control">
                            <option>Select Country</option>
                            <option value="AF" data-capital="Kabul">Afghanistan</option>
                            <option value="AX" data-capital="Mariehamn">Aland Islands</option>
                            <option value="AL" data-capital="Tirana">Albania</option>
                            <option value="DZ" data-capital="Algiers">Algeria</option>
                            <option value="AS" data-capital="Pago Pago">American Samoa</option>
                            <option value="AD" data-capital="Andorra la Vella">Andorra</option>
                            <option value="AO" data-capital="Luanda">Angola</option>
                            <option value="AI" data-capital="The Valley">Anguilla</option>
                            <option value="AG" data-capital="St. John's">Antigua and Barbuda</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12 mt-20">
                    <button type="submit" class="btn btn-theme large-btn">Submit</button>
                </div>

            </div>
        </div>

    </div>

</section>