<footer>
    <div class="foter-top">
        <div class="container">
            <div class="row justify-content-xl-center">
                <div class="col-sm-12 col-lg-3 col-xl-3">
                    <a href="#" class="foter-logo">
                        <img src="assets/images/logo.png" alt="b4b-factory">
                    </a>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of 
                        type and scrambled it to make a type specimen book
                    </p>
                </div>
                <div class="col-6 col-sm-3 col-lg-2 col-xl-2">
                    <h5>INFORMATION</h5>
                    <ul class="foter-links">
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Terms of Uses</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Site Map</a></li>
                    </ul>
                </div>
                <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                    <h5>OUR SERVICES</h5>
                    <ul class="foter-links">
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Order History</a></li>
                        <li><a href="#">Returns</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Specials</a></li>
                    </ul>
                </div>
                <div class="col-sm-5 col-lg-4 col-xl-3 contact-col">
                    <h5>CONTACT US</h5>
                    <address>
                        <div><strong>Address:</strong> 1800 Los Angeles,Californi </div>
                        <div><strong>Mail us:</strong> b4bfactory@info.com  </div>
                        <div><strong>Phone:</strong><span class="gren-clr"> 1-888-345-6789</span></div> 
                    </address>
                </div>
            </div>
        </div>
    </div>
    <div class="copyrights text-center">
        Copyright@ 2020 b4bFactory. All Right Reserved
    </div>
</footer>
