<article class="add_product_article">
    <div class="card_block prof_proc_form">
        <div class="card_header d-flex">
            <h5>Add Products </h5>
        </div>
        <div class="card_content">
            <div class="wizard proc-form-steps">
                <div class="wizard-inner proc-form-nav">
                    <ul class="nav nav-tabs prof_navManu" role="tablist">
                        <li role="presentation" class="active">
                            <a class="active" href="#addProd_step1" data-toggle="tab" aria-controls="addProd_step1"
                                role="tab" title="Basic details">
                                Basic details
                            </a>
                        </li>
                        <li role="presentation" class="">
                            <a href="#addProd_step2" data-toggle="tab" aria-controls="addProd_step2" role="tab"
                                title="Payment" title="Other details">
                                Other details
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /. proc-form-nav -->

                <div class="proc-form-cont">
                    <form class="theme-form" role="form">
                        <div class="tab-content">
                            <div class="tab-pane active" role="tabpanel" id="addProd_step1">
                                <div class="tab-pane-body">
                                    <div class="add_prod_form">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label>Company Name</label>
                                                    <div class="add_field_box">
                                                        <div class="field_with_fleg">
                                                            <input class="form-control" type="text" value="">
                                                            <span class="fleg_icon"><img
                                                                    src="assets/images/fleg_icon1.png"></span>
                                                        </div>
                                                        <button type="botton" class="add_field_btn add_rem_filed">
                                                            <i class="fa fa-plus"></i>
                                                        </button>
                                                    </div>
                                                    <!-- /. End add_field_box -->

                                                    <div class="add_field_box">
                                                        <div class="field_with_fleg">
                                                            <input class="form-control" type="text" value="">
                                                            <span class="fleg_icon"><img
                                                                    src="assets/images/fleg_icon2.png"></span>
                                                        </div>
                                                        <button type="botton" class="rem_field_btn add_rem_filed">
                                                            <i class="fa fa-minus"></i>
                                                        </button>
                                                    </div>
                                                    <!-- /. End add_field_box -->
                                                </div>
                                                <!-- /. End Form Group -->
                                                <div class="form-group">
                                                    <label>Product description</label>
                                                    <div class="add_field_box">
                                                        <div class="field_with_fleg">
                                                            <textarea rows="4" class="form-control" type="text"
                                                                value=""></textarea>
                                                            <span class="fleg_icon"><img
                                                                    src="assets/images/fleg_icon1.png"></span>
                                                        </div>
                                                        <button type="botton" class="add_field_btn add_rem_filed">
                                                            <i class="fa fa-plus"></i>
                                                        </button>
                                                    </div>
                                                    <!-- /. End add_field_box -->

                                                    <div class="add_field_box">
                                                        <div class="field_with_fleg">
                                                            <textarea rows="4" class="form-control" type="text"
                                                                value=""></textarea>
                                                            <span class="fleg_icon"><img
                                                                    src="assets/images/fleg_icon2.png"></span>
                                                        </div>
                                                        <button type="botton" class="rem_field_btn add_rem_filed">
                                                            <i class="fa fa-minus"></i>
                                                        </button>
                                                    </div>
                                                    <!-- /. End add_field_box -->
                                                </div>
                                                <!-- /. End Form Group -->
                                                <div class="form-group">
                                                    <label>Poduct features</label>
                                                    <div class="add_field_box">
                                                        <div class="field_with_fleg">
                                                            <input class="form-control" type="text" value="">
                                                            <span class="fleg_icon"><img
                                                                    src="assets/images/fleg_icon1.png"></span>
                                                        </div>
                                                        <button type="botton" class="add_field_btn add_rem_filed">
                                                            <i class="fa fa-plus"></i>
                                                        </button>
                                                    </div>
                                                    <!-- /. End add_field_box -->

                                                    <div class="add_field_box">
                                                        <div class="field_with_fleg">
                                                            <input class="form-control" type="text" value="">
                                                            <span class="fleg_icon"><img
                                                                    src="assets/images/fleg_icon2.png"></span>
                                                        </div>
                                                        <button type="botton" class="rem_field_btn add_rem_filed">
                                                            <i class="fa fa-minus"></i>
                                                        </button>
                                                    </div>
                                                    <!-- /. End add_field_box -->
                                                </div>
                                                <!-- /. End Form Group -->
                                                <div class="form-group">
                                                    <label>Distributor/Retailer/Wholesaler Price</label>
                                                    <input class="form-control" type="text">
                                                </div>
                                                <!-- /. End Form Group -->
                                                <div class="form-group">
                                                    <label>Product Speciality/ Sub- Speciality</label>
                                                    <div class="two_half_col">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <select class="form-control select_field">
                                                                    <option>Speciality</option>
                                                                    <option>Speciality</option>
                                                                    <option>Speciality</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <select class="form-control select_field">
                                                                    <option>Speciality</option>
                                                                    <option>Speciality</option>
                                                                    <option>Speciality</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- /. End Form Group -->
                                                <div class="form-group">
                                                    <label>Product Visibility </label>
                                                    <div class="custom-radiobtn">
                                                        <div class="radio-btn d-block mb-3">
                                                            <input checked="" id="Worldwide" name="radio-group1"
                                                                type="radio">
                                                            <label for="Worldwide">Worldwide </label>
                                                        </div>
                                                        <div class="radio-btn d-block mb-3">
                                                            <input checked="" id="Continental" name="radio-group1"
                                                                type="radio">
                                                            <label for="Continental">Continental</label>
                                                        </div>
                                                        <div class="radio-btn d-block mb-3">
                                                            <input checked="" id="Country" name="radio-group1"
                                                                type="radio">
                                                            <label for="Country">Country</label>

                                                            <div class="select_country">
                                                                <select class="form-control select_field">
                                                                    <option>Select Country</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- /. End Form Group -->
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="prod_vdo_img">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Product Images</label>
                                                                <div class="upload_files">
                                                                    <input type="file" class="upl_field">
                                                                    <figure class="upl_file_icon">
                                                                        <img src="assets/images/cube_icon5.png" alt="">
                                                                        <span class="add_upl_files"><img
                                                                                src="assets/images/plus_icon.png"
                                                                                alt></span>
                                                                    </figure>
                                                                    <h6>Add Image</h6>
                                                                </div>
                                                            </div>
                                                            <!-- /. End Form Group -->
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Product Video</label>
                                                                <div class="upload_files">
                                                                    <input type="file" class="upl_field">
                                                                    <figure class="upl_file_icon">
                                                                        <img src="assets/images/video_icon.png" alt="">
                                                                        <span class="add_upl_files"><img
                                                                                src="assets/images/plus_icon.png"
                                                                                alt></span>
                                                                    </figure>
                                                                    <h6>Add Video</h6>

                                                                </div>
                                                            </div>
                                                            <!-- /. End Form Group -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- ./ End prod_vdo_img -->
                                                <div class="form-group">
                                                    <div
                                                        class="inline_file_upl d-flex  align-items-center justify-content-between">
                                                        <label class="mb-0">Product Catalogue upload</label>
                                                        <div class="browse_files">
                                                            <input type="file" class="upl_field">
                                                            <span class="btn btn-theme">Browse Files</span>
                                                        </div>
                                                    </div>
                                                    <!-- ./ End inline_file_upl -->
                                                    <div
                                                        class="inline_file_upl d-flex  align-items-center justify-content-between">
                                                        <label class="mb-0">Product Certificate upload</label>
                                                        <div class="browse_files">
                                                            <input type="file" class="upl_field">
                                                            <span class="btn btn-theme">Browse Files</span>
                                                        </div>
                                                    </div>
                                                    <!-- ./ End inline_file_upl -->
                                                </div>
                                                <!-- ./ End form-group -->
                                                <div class="prod_dimesions">
                                                    <h4>Dimesions</h4>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label>Height</label>
                                                                <input type="text" class="form-control"
                                                                    placeholder="8.5">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label>Width</label>
                                                                <input type="text" class="form-control"
                                                                    placeholder="7.5">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label>Unit</label>
                                                                <select class="form-control select_field">
                                                                    <option>Cm</option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>
                                                <!-- ./ End prod_dimesions -->
                                                <div class="prod_dimesions">
                                                    <h4>Weight</h4>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label>Input</label>
                                                                <input type="text" class="form-control" placeholder="2">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label>Unit</label>
                                                                <select class="form-control select_field">
                                                                    <option>LBS</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- ./ End prod_dimesions -->
                                                <div class="form-group">
                                                    <label>Additional comments</label>
                                                    <textarea class="form-control textarea_field" rows="4"></textarea>
                                                </div>
                                                <!-- /. End Form Group -->
                                                <div class="form-group">
                                                    <div class="prod_tag row">
                                                        <div class="col-md-7">
                                                            <label>Product Tags</label>
                                                            <select class="form-control select_field">
                                                                <option>Select</option>
                                                                <option>Select</option>
                                                                <option>Select</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- /. End Form Group -->
                                            </div>
                                            <!-- /. End  col-md-6-->
                                        </div>
                                    </div>
                                </div>
                                <!-- ./ pane body -->
                                <div class="tab-pane-footer text-md-right text-center">
                                    <ul class="list-inline-btns d-inline-flex">
                                        <li><button type="button" class="btn btn-theme btn-gray next-step">Next</button>
                                        </li>
                                        <li><button type="button" class="btn btn-theme add_prod_btn">+ Add
                                                product</button></li>
                                    </ul>
                                </div>
                                <!-- ./ pane footer -->
                            </div>
                            <!-- ./tab-pane  addProd_step1 -->
                            <div class="tab-pane" role="tabpanel" id="addProd_step2">
                                <div class="payment-addProd_step2">
                                    <div class="tab-pane-body">
                                        <div class="profile-form">
                                            <div class="row">
                                                <div class="col-md-12 mt-10 ">
                                                    <label>What is your company’s area of expertise
                                                        (market segment, service) ?
                                                        <small>You can select Multiple choose **</small>
                                                    </label>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <select class="select-field form-control">
                                                            <option>Cardiology</option>
                                                            <option>option 1</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <select class="select-field form-control">
                                                            <option> Select sub category</option>
                                                            <option>option 1</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>What are you looking by being online ?
                                                            **</label>
                                                        <select class="select-field form-control">
                                                            <option>Sales, Distributors, branding
                                                            </option>
                                                            <option>option 1</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>List one of major competitors **</label>
                                                        <input class="form-control" type="text" />
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Do you want to market your products
                                                            online globally ? **</label>
                                                        <div class="custom-radiobtn radio-inline">
                                                            <div class="radio-btn">
                                                                <input type="radio" id="test1" name="radio-group1"
                                                                    checked="">
                                                                <label for="test1">No</label>
                                                            </div>
                                                            <div class="radio-btn">
                                                                <input type="radio" id="test2" name="radio-group1">
                                                                <label for="test2">Yes</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <label>Where do you want to market your products
                                                        online ?</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">

                                                        <select class="select-field form-control">
                                                            <option>Select Continent </option>
                                                            <option>option 1</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <select class="select-field form-control">
                                                            <option>Select Country</option>
                                                            <option value="AF" data-capital="Kabul">
                                                                Afghanistan</option>
                                                            <option value="AX" data-capital="Mariehamn">
                                                                Aland Islands</option>
                                                            <option value="AL" data-capital="Tirana">
                                                                Albania</option>
                                                            <option value="DZ" data-capital="Algiers">
                                                                Algeria</option>
                                                            <option value="AS" data-capital="Pago Pago">
                                                                American Samoa</option>
                                                            <option value="AD" data-capital="Andorra la Vella">Andorra
                                                            </option>
                                                            <option value="AO" data-capital="Luanda">
                                                                Angola</option>
                                                            <option value="AI" data-capital="The Valley">Anguilla
                                                            </option>
                                                            <option value="AG" data-capital="St. John's">Antigua and
                                                                Barbuda</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ./ pane body -->
                                    <div class="tab-pane-footer">
                                        <div class="steps-form-submit text-md-right text-center">
                                            <input class="btn btn-theme btn-gray form-sub-btn" type="submit" name=""
                                                value="Submit" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ./tab-pane  addProd_step2 -->
                            <div class="clearfix"></div>
                        </div>
                    </form>
                </div>
                <!-- ./ proc-form-cont -->
            </div>
            <!-- ./ proc-form-steps -->
        </div>
    </div>
</article>