<nav class="navbar navbar-expand-lg navbar-menu">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">
        <i class="fa fa-bars"></i>
      </span>
    </button>
    <div class="collapse navbar-collapse navbar_menus justify-content-center" id="navbarNavDropdown">
      <ul class="navbar-nav main-menu">
        <li class="nav-item active">
          <a class="nav-link" href="javascript:void(0);" [routerLink]="['/home']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0);">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0);">Manufacturers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0);">Product</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="javascript:void(0);" id="navbarDropdownMenuLink"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Specialty
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="javascript:void(0);">Action</a>
            <a class="dropdown-item" href="javascript:void(0);">Another action</a>
            <a class="dropdown-item" href="javascript:void(0);">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0);">Tradeshow</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0);">Medical News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0);">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>