<header>
    <div class="header-top">
        <div class="container">
            <div class="head-top-block d-flex flex-wrap flex-lg-nowrap align-items-center justify-content-between">
                <div class="header-logo">
                    <a class="navbar-brand logo-brand" href="javascript:void(0);">
                        <img src="assets/images/logo.png" alt="b4b-factory" />
                    </a>
                </div>
                <div class="header-search">
                    <!-- <form class="form_inline d-flex">
                        <div class="inline-field header-search__select mr-md-2 mr-0">
                            <select class="select-field form-control">
                                <option value="">Select Specialty</option>
                                <option value="">option 1</option>
                            </select>
                        </div>
                        <div class="inline-field header-search__input">
                            <div class="input-with-icon">
                                <input type="text" class="form-control" placeholder="Enter your keyword.." />
                                <button class="inpIon btn">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form> -->
                </div>

                <div class="head-credential d-md-flex justify-content-end">
                    <!-- <div class="login-reg">
                        <ul class="log-reg-list d-inline-flex">
                            <li>
                            <a href="javascript:void(0);" (click)="openModalPopup()">
                                <i class="fa fa-user"></i> Register</a>
                            </li>
                            <li>
                            <a [routerLink]="['/auth/login']">
                                <i class="fa fa-lock"></i> Login</a>
                            </li>
                        </ul>
                    </div> -->

                    <!-- <div class="lenguage-slct d-inline-flex">
                        <select class="select-leng select-field">
                            <option>English</option>
                            <option>French</option>
                        </select>
                        <select class="select-curency select-field">
                            <option>USD</option>
                            <option>EUR</option>
                        </select>
                    </div> -->

                </div>
            </div>
        </div>
    </div>
</header>

<section class="banner-innerpage">
    <figure>
        <img src="assets/images/inner-banner.jpg" />
    </figure>
</section>

<section class="login-page">
    <div class="container">
        <h1 class="main-heading">Reset Password</h1>
        <div class="login-signup-form">
            <div class="row">
                <div class="col-md-12 loginform-wrap">
                    <form [formGroup]="resetPassword" (ngSubmit)="onResetPassword()" class="loginform">

                        <label>
                            Enter your new password
                        </label>

                        <div class="form-group input-group ">
                            <input class="form-control" type="password" placeholder="Username"
                                placeholder="New password" formControlName="password" />
                            <span class="input-group-addon">
                                <i class="fa fa-lock"></i>
                            </span>
                        </div>
                        <p class="text-danger"
                            *ngIf="resetPassword.controls.password.touched && resetPassword.controls.password.invalid">
                            This is a required field
                        </p>
                        <p class="text-danger"
                            *ngIf="resetPassword.value.password !== resetPassword.value.repeat_password && resetPassword.controls.password.touched">
                            Passwords do not match
                        </p>

                        <label>
                            Confirm your new password
                        </label>
                        <div class="form-group input-group ">
                            <input class="form-control" type="password" placeholder="Confirm new password"
                                formControlName="repeat_password" />
                            <span class="input-group-addon">
                                <i class="fa fa-lock"></i>
                            </span>
                        </div>
                        <p class="text-danger"
                            *ngIf="resetPassword.controls.repeat_password.touched && resetPassword.controls.repeat_password.invalid">
                            This is a required field
                        </p>

                        <div class="login-btn-group">
                            <button type="submit" class="btn btn-theme large-btn" [disabled]="resetPassword.invalid">
                                Reset Password
                            </button>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>
</section>