<aside class="sidebar_card">
    <ul class="sidebar_menu">

        <li class="active" >
            <a href="javascript:void(0);" [routerLink]="['/settings/user/profile']" routerLinkActive>
                <i class="fa fa-user"></i>
                My Manufacturer Profile
            </a>
        </li>

        <li>
            <a href="javascript:void(0);" [routerLink]="['/settings/manufacturer/my-products']" routerLinkActive>
                <i class="fa fa-address-book-o"></i>
                My Products
            </a>
        </li>

        <li>
            <a href="javascript:void(0);">
                <i class="fa fa-bell"></i>
                My Subscription
            </a>
        </li>

    </ul>
</aside>
<!-- ./ End sidebar -->